:css
  th, td{
    padding: 5px;
  }
%form{action: "", method: "POST"}
  %input{name: "authenticity_token", type: "hidden", value: form_authenticity_token}/
  %input{name: "bulk_action", type: "hidden", value: "#{request.params['bulk_action']}"}/
  %input{name: "bulk_step", type: "hidden", value: "update"}/
  - request.params['bulk_ids'].each do |bulk_id|
    %input{name: "bulk_ids[]", type: "hidden", value: bulk_id}/
  %label{for: "update_users_status"} Alter Status:
  %br/
  %select#new_category_id{name: "update_users_status"}
    %option{value: 1}
      = "Unblocked"
    %option{value: 0}
      = "Blocked"
  %br/
  %br/
  %input{type: "submit", value: "Update status"}/
  %h3 Users to be updated:
  %table
    %tr
      %th{align: "center"} User
      %th{align: "center"} Status
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.status
  %br/
  %br/
  - if @users.count >= 10
    %input{type: "submit", value: "Update status"}/